*{
    margin:0;
    padding:0;
}

.header{
  color:white;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  background:#112942;
  margin:0;
}

.button{
    padding: 5px 10px;
    margin: 4px 2px;
    display: inline-flex; 
    align-items: center;
    background-color: #F4796C ;
    color: white; 
    border: none;
    cursor: pointer;
    border-radius: 999px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
}

h2 {
  color:#F4796C;
  padding:8px;
  
}

ul{
}

ol{

}
